section.repository-list {
  margin: 2.5rem;

  h1 {
    margin-bottom: 1rem;
    font-weight: 600;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    height: auto;

    li {
      background-color: #fff;
      height: auto;
      padding: 0.938rem;
      border-radius: 8px;

      box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);

      display: grid;
      grid-template-rows: 40px 1fr 55.33px;
      row-gap: 1.5rem;

      // & + li {
      //   margin-top: 1.25rem;
      // }

      strong {
        text-transform: lowercase;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      p {
        color: #444;
      }

      a {
        background-color: #8257e6;
        padding: 0.938rem 2.5rem;
        border-radius: 8px;
        text-align: center;
        color: #fff;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: filter 0.2s ease;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }
  }
}
