section.repository-list {
  margin: 2.5rem;

  h1 {
    margin-bottom: 1rem;
    font-weight: 600;
  }

  ul {
    li {
      & + li {
        margin-top: 1.25rem;
      }

      p {
        color: #444;
        margin-top: 0.5rem;
      }

      a {
        display: inline-block;
        margin-top: 1rem;
        color: #8257e6;
      }
    }
  }
}
